.rank-1 {
  background:#32cd32;
}
.rank-2 {
  background:#eeb111;
}
.rank-3 {
  background:#f5821f;
}
.rank-4 {
  background:#5f0ca3;
}
.rank-5 {
  background:#a30c50;
}
.rank-6 {
  background:#6897bb;
}
.rank-7 {
  background: #a35f0c;
}
.rank-8 {
  background:#5b9d7f;
}
.rank-9 {
  background:#292929;
}
.rank-10 {
  background:#000000;
}
.rank-11 {
  background:#000000;
}
.rank-12 {
  background:#000000;
}
.rank-13 {
  background:#000000;
}
.rank-14 {
  background:#000000;
}